.paletteArea {
	padding-bottom: 10rem;
	display: none;
	 @include linear-gradient($primary-color--2 0%,
	 	                                       $primary-color--2 25%,
	 	                                       $primary-color--3 25%,
	 	                                       $primary-color--3 100%);

	 &__wrapper {
	 	@include outer-container($max-width--desktop);
	 }

	 .headingNumber  {
	 	color: $primary-color--2;
	 }

	 &__headingContainer {
	 	position: relative;

	 	&::after {
			content: " ";
			display:block;
			@include size(4rem);

			border-radius: 50%;
			background-color: $secondary-color;

			position: absolute;
			top: 2rem;
			left: 1rem;
			z-index: $z-index--1;
		}
	}

	&__heading {
		margin-top: 0;
		color: $white;
	}

	&__paletteButton {
		@include span-columns(2);
		background: transparent;
		border: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		&:hover {
			& > .paletteArea__paletteColor {
				border: 1px solid #094C99;
			}

			&	> .paletteArea__paletteText {
				text-shadow: 0 0 4px #094C99;
			}
		}

		&:focus {
			outline: none;
		}
	}
	&__paletteColor {
		@include size(10rem);
		border-radius: 50%;
		@include mq(small) {
			@include size(5rem);
		}
	}
	&__paletteText {
		color: $white;
		font-size: 1.6rem;
		@include mq(small) {
			font-size: 1rem;
		}
	}

	&__paletteContainer {
	}

	&__paletteChoiceContainer {
		padding: 2rem 2rem;
		border-radius: 1rem;
		border: 3px solid #1157A6;

		margin: auto;
		width: 25rem;

		position: relative;
		top: 5rem;
		display: flex;
		justify-content: space-between;
	}
}

.paletteChoiceContainer {

	&__paletteChoice {
		@include size(5rem);
		position: relative;
		background-color: transparentize($grey, 0.7);
		border-radius: 50%;
		transition: all 0.5s;
		margin-left: 0.5rem;
	}
	&__header {
		text-align: center;
		color: $white;
		font-family: $font-family--secondary;
		font-weight: 400;

		padding-top: 4rem;

		&--reset {
			@extend .paletteChoiceContainer__header;
			opacity: 0.73;
			font-size: 1.6rem;
			&:hover {
				color: $secondary-color;
				opacity: 0.9;
			}
		}
	}
	&__layoutButton {
		@include size(16rem 8rem);
		font-size: 4rem;
		color: $white;

		border: 1px solid $white;
		border-radius: 1rem;

		background: transparent;
		font-family: $font-family--secondary;

		position: relative;
		left: 50%;
		transform: translateX(-50%);
		
		transition: all 0.5s;
		&:hover {
			background: $white;
			color: $primary-color;
			border: 1px solid $primary-color;
		}

		&:focus {
			outline: none;
			box-shadow: 0 0 4px rgba(0,0,0,0.5);
		}
	}
}
